.DS_Store
.venv
.env
__pycache__
.pytest_cache
load_and_evaluate/Dataset/*
.deepeval-*
*.zip

deepeval_results.json
deepeval_results_*.csv
search_evaluation_results.csv

query_transform_cache.json
rag_cache.json

.deepeval_*
.temp-deepeval*
temp_testrun*

